[Unit]
Description=Trayer
After=xmobar.service
BindsTo=xmobar.service

[Service]
Type=simple
ExecStart=%h/.xmonad/start-trayer
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
