[Unit]
Description=XMobar status bar
PartOf=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target

[Service]
Type=simple
ExecStart=%h/.local/bin/xmobar %h/.xmonad/themes/.xmobarrc
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
