[user]
  name = Vasiliy Kevroletin
  email = kevroletin@gmail.com
  signingkey = 0x725E261B86255E90
[commit]
  gpgsign = false
[push]
  default = simple
[core]
  editor = /usr/bin/vim
  pager = delta
[credential]
  credentialStore = plaintext
  interactive = yes
  helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[pull]
  rebase = false
